.device-handler {
  margin-top: 20px;
}

.debug-div > a, .debug-div > span {
  display: block;
  margin-bottom: 10px;
}

/* Characteristic Panel */

.characteristic-panel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.characteristic-panel > input, .characteristic-panel > a {
  margin-right: 20px;
}

.characteristic-panel > input {
  font-size: 14px;
  padding: 0px 4px;
}

.characteristic-panel > input.characteristic_uuid {
  width: 360px;
}

.characteristic-panel > input.characteristic_value {
  width: 120px;
}

